<!DOCTYPE html>
<html>
	<head>
		<title>flasktest</title>
	</head>	
	<body>
		<h1>{{ temp_status }}</h1>
		{% if temp_status == 404 %}
		<h1> PAGE NOT FOUND</h1>
		{% else %}
		<h1>INVALID PAGE, NOT AVAILABLE<h1>
		{% endif %}
		<p>Please re-enter a valid URL Path</p>
	</body>
</html>
